
/*xs*/
@media (max-width: 767px) {
    .home-image{

    }
    .owl-wrapper-outer .owl-wrapper > .owl-item > .item > a > .img-responsive{
        height: 157px !important;
    }
}

/*sm*/
@media (min-width: 768px){
    .home-image{
        height: 340px;
    }
    .plant-image{height: 330px}
    .owl-wrapper-outer .owl-wrapper > .owl-item > .item > a > .img-responsive{
        height: 157px !important;
    }
}

/*md*/
@media (min-width: 992px){
    .home-image{
        height: 215px;
    }
    .plant-image{height: 293px}


}

/*lg*/
@media (min-width: 1200px){
    .home-image{
        height: 265px;
    }

    .plant-image{height: 360px}

    .owl-wrapper-outer .owl-wrapper > .owl-item > .item > a > .img-responsive{
        height: 208px !important;
    }
}


